h1{
    background-color: orange;

    
    text-align: center;
    
}

h2{
    font-size: 2em;
    text-align: center;
    background-color: #f37021;

}

p{
    border:0.5em;
    font-size: 6.5mm;
    text-align: center;
}

li{
    
    font-size: 6.5mm;
    text-align: center;

}
img{
    width: 150px;
    
}

div{
    text-align: center;
}